<ul>
  <span class="styles">
    <h2>Budo Styles</h2>
    <ul class="flat">
      <% @styles.each do |style| %>
        <li><%= link_to style.name, katas_path(:style_id => style.id) %></li>
      <% end %>
    </ul>
  </span>
</ul>