<span id="bunkai">
  <h2><%= @bunkai.title %></h2>
  <span class="techniques">
    <%= render @bunkai.techniques %>
  </span>
  <span class="maneuvers">
    <%= render @bunkai.maneuvers %>
  </span>
</span>