<h1> Kata </h1>
<%= @kata.name %>
<table>
  <tr>
   <%= render @kata.techniques %>
  </tr>
</table>
<lu>
  <% @kata.bunkais.each do |bunkai| %>
    <li>
      <%= link_to bunkai.title, bunkai_path(bunkai) %> 
    </li>
  <% end %>
<lu>