<h1> Kata </h1>
<%= @kata.name %>
<table>
  <tr>
   <%= render @kata.techniques %>
  </tr>
</table>
<% if user_signed_in? then %>
  <%= link_to 'New bunkai', "#{new_bunkai_path}?kata_id=#{@kata.id}&" %>
<% end %>
<lu>
  <% @kata.bunkais.each do |bunkai| %>
    <li>
      <%= link_to bunkai.title, bunkai_path(bunkai) %> 
    </li>
  <% end %>
<lu>