// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul.breadcrumb li {
  list-style-type: none;
  display: inline-block;
  padding: 0.1em .1em;
}

.signup {
  text-align: center;
  font-size: x-large;
}

.signup a {
  padding-top: .25em;
  padding-bottom: .25em;
}
